*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    height: 100vh;
    width: 100%;
    background-color: rgb(32, 28, 28);
    display: flex;
justify-content: center;

color: white;
padding: 10px;
}

.container{
  
    display: flex;
    padding: 20px;
     flex-direction: column;
}
.container .cards {
   display: flex;
 gap: 20px;
 flex-wrap: wrap;
}
.container .cards .card{
   min-width: 100px;
   max-width: 250px;
   height: 300px;
   background-color: rgb(49, 47, 47);
   padding: 8px;
   border-radius: 5px;
}
.img{
    width: 100%;
    height: 55%;
    background-color: rgb(143, 121, 121);
  border-radius: 8px;
  overflow: hidden;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;

 
    
}


.text{
    display: flex;
    height: 30%;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: antiquewhite;
}